@model OrderModel

@{
  ViewData["Title"] = "Ödeme";
}

<section>
    <div class="py-3 ">
      
      <h1 class="h3">Ödeme sayfası</h1>
      <p class="lead">Kargo ve fatura bilgileri</p>
      <hr>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Sepet özeti</span>
          <span class="badge bg-primary rounded-pill">@Model!.CartModel!.CartItems!.Count()</span>
        </h4>
        <ul class="list-group mb-3">
          @foreach(var item in @Model!.CartModel!.CartItems!)
          {
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">@item.Name </h6>
                <small class="text-body-secondary">@item.Quantity x @item.Price</small>
              </div>
              <span class="text-body-secondary"><i class="fa-solid fa-turkish-lira-sign"></i> 
                @(item.Price * item.Quantity)
              </span>
            </li>
          }
          <li class="list-group-item d-flex justify-content-between">
            <span>Toplam (TL)</span>
            <strong><i class="fa-solid fa-turkish-lira-sign"></i> @Model.CartModel.TotalPrice()</strong>
          </li>
        </ul>
      </div> 
      
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Adres bilgileri</h4>
        <form class="needs-validation" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
          <div class="row g-3 mb-3">
            <div class="col-sm-6">
              <label asp-for="@Model.FirstName" class="form-label"></label>
              <input asp-for="@Model.FirstName" class="form-control">
              <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="col-sm-6">
              <label asp-for="@Model.LastName" class="form-label"></label>
              <input asp-for="@Model.LastName" class="form-control">
              <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>

            <div class="col-12">
              <label asp-for="@Model.Email" class="form-label"></label>
              <input asp-for="@Model.Email" class="form-control" placeholder="you@example.com">
              <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="col-12">
              <label asp-for="@Model.Phone" class="form-label"></label>
              <input asp-for="@Model.Phone" class="form-control">
              <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>

            <div class="col-12">
              <label asp-for="@Model.Address" class="form-label"></label>
              <input asp-for="@Model.Address" class="form-control" placeholder="1234 Ihlamur Sok.">
              <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>

             <div class="col-12">
              <label asp-for="@Model.City" class="form-label"></label>
              <input asp-for="@Model.City" class="form-control" >
              <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>
            
          </div>

          <div class="col-12">
              <label asp-for="@Model.Note" class="form-label"></label>
              <span class="text-body-secondary">(İsteğe bağlı)</span>
              <textarea asp-for="@Model.Note" class="form-control" id="address2"></textarea>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Ödeme</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked >
              <label class="form-check-label" for="credit">Kredi kartı</label>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label asp-for="@Model.CardName" class="form-label"></label>
              <input asp-for="@Model.CardName" class="form-control"  placeholder="" >
              <small class="text-body-secondary">Kart üzerindeki Ad Soyad</small>
              <span asp-validation-for="@Model.CardName" class="text-danger"></span>
            </div>

            <div class="col-md-6">
              <label asp-for="@Model.CardNumber" class="form-label"></label>
              <input asp-for="@Model.CardNumber" class="form-control"  placeholder="" >
              <small class="text-body-secondary">Kart ön yüzündeki numara</small>
              <span asp-validation-for="@Model.CardName" class="text-danger"></span>
            </div>

            <div class="col-md-4">
              <label asp-for="@Model.ExpirationYear" class="form-label"></label>
              <input asp-for="@Model.ExpirationYear" class="form-control" placeholder="" >
              <span asp-validation-for="@Model.ExpirationYear" class="text-danger"></span>
            </div>

            <div class="col-md-4">
              <label asp-for="@Model.ExpirationMonth" class="form-label"></label>
              <input asp-for="@Model.ExpirationMonth" class="form-control" placeholder="" >
              <span asp-validation-for="@Model.ExpirationMonth" class="text-danger"></span>
            </div>

            <div class="col-md-4">
              <label asp-for="@Model.Cvc" class="form-label"></label>
              <input asp-for="@Model.Cvc" class="form-control" placeholder="" >
              <small class="text-body-secondary">Kartın arkasındaki güvenlik kodu</small>
              <span asp-validation-for="@Model.Cvc" class="text-danger"></span>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Alış verişi tamamla</button>
        </form>
      </div>
    </div>
</section>

@section Scripts
{
  @await Html.PartialAsync("_ValidationScriptsPartial")
}