@model OrderListViewModel

@{
  ViewData["Title"] = "Siparişlerim";
}

<div>

    <div class="my-4">
        <h1 class="h4">Siparişlerim</h1>
        <hr>
    </div>

    @if(@Model.Orders.Count == 0)
    {
        <div class="text-center">
            <h5 class=" py-3">Henüz hiç sipariş vermediniz</h5>
            <div class="">
                <h6 class="my-3">Ürünlere göz atıp ilk siparişinizi vermek için tıklayın</h6>
                <a href="/urunler" class="btn-btnprimary"><i class="fa-solid fa-arrow-right"></i></a>
                <h6>Siparişiniz bu alanda görünmüyor ise lütfen bizimle <a href="/iletisim">iletişime</a> geçin.</h6>
            </div>                    
        </div>
    }
    else
    {
        <div class="table-responsive">
            @foreach(var order in @Model.Orders)
            {
                <table class="table table-borderless border">
                    <thead>
                        <tr>
                            <th scope="col">Durum</th>
                            <th scope="col">Tarih</th>
                            <th scope="col">Ödeme Türü</th>
                            <th scope="col">Adres</th>
                            <th scope="col">E-Posta</th>
                            <th scope="col">Tutar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@order.OrderState</td>
                            <td>@order.OrderDate.ToString("MM/dd/yyyy")</td>
                            <td>@order.PaymentType</td>
                            <td>@order.Address</td>
                            <td>@order.Email</td>
                            <td>@order.TotalPrice().ToString("c") TL</td>
                        </tr>                   
                    </tbody>
                    <tfoot>
                        @foreach(var orderItem in order.OrderItems)
                        {
                            <tr>
                                <td><img src="~/images/@orderItem.ImageUrl" alt="" width="50" height="50"></td>
                                <td>@orderItem.Price.ToString("c")</td>
                                <td>@orderItem.Weight gr</td>
                                <td>@orderItem.Quantity tane</td>
                                <td>@orderItem.Name</td>
                                <td>
                                    <a href=""><i class="fa-solid fa-arrow-right"></i></a>
                                </td>
                            </tr>
                        }   
                    </tfoot>                
                </table>
            }
        </div>
    }
</div>






