@model List<TopOrdersViewModel>

<p>Toplam:  @ViewBag.Total.SatisTotal</p>


@foreach(var item in Model)
{
    <p>@item.Name</p>
    <p>@item.Sepet</p>
    <p>@item.SatisTotal</p>
    <p>@item.SatisAdet</p>
}
