@model CartViewModel

@{
    ViewData["Title"] = "Sepetim";
}
@section Css 
{
    <link rel="stylesheet" href="~/css/summary.css">
}

<div>
    <div class="">

        <h1 class="h4 my-5">Sepetim</h1>

        @if(Model.TotalItem() == 0)
        {
            <div class="text-center">
                <h5 class=" py-3">Sepetinizde ürün yok</h5>
                <div class="">
                    <h6 class="my-3">Ürünlere göz atmak için tıklayın</h6>
                    <a href="/urunler" class="btn-btnprimary"><i class="fa-solid fa-arrow-right"></i></a>
                </div>
                
            </div>
        }
        else
        {
            <div class="row">

                <div class="col-lg-9 mb-3">
                    <div class="border p-4">
                    @foreach(var item in @Model!.CartItems!)
                    {
                        <div class="row mb-3 border ">

                            <div class="col-4 col-md-2 py-3 d-flex align-items-center justify-content-center"><img class="rounded" src="~/images/@item.ImageUrl" width="70" height="70"></div>

                            <div class="col-4 col-md-2 py-3 d-flex align-items-center justify-content-center"><span class="font-weight-bold product-name"><h6>@item.Name</h6></span>               
                            </div>

                            <div class="col-4 col-md-2 py-3 d-flex align-items-center justify-content-center"><span class="font-weight-bold product-name"><h6>@item.Weight gr</h6></span>               
                            </div>

                            <div class="col-4 col-md-2 py-3 d-flex align-items-center justify-content-center qty">
                                <span id="btnDecrease-@item.ProductId" onclick="decreaseQuantity(@item.ProductId)" class="btn @(item.Quantity >1 ? "" : "disabled")"><i class="fa fa-minus text-danger"></i></span>

                                <h5 id="quantityBox-@item.ProductId" class="text-grey mt-1 mr-1 ml-1">@item.Quantity</h5>

                                <span id="btnIncrease-@item.ProductId" onclick="increaseQuantity(@item.ProductId)" class="btn"><i class="fa fa-plus text-success"></i></span>
                            </div>

                            <div class="col-4 col-md-3 py-3 d-flex align-items-center justify-content-center">
                                <p class="text-grey me-1">@item.Price x </p>
                                <h5 id="priceBox-@item.ProductId" class="text-grey">@(item.Price * item.Quantity) TL</h5>
                            </div>

                            <div class="col-4 col-md-1 py-3 d-flex align-items-center justify-content-center">
                                <form class="delete-form d-flex align-items-center justify-content-center" asp-controller="Cart" asp-action="DeleteFromCart">
                                    <input type="hidden" name="productId" value="@item.ProductId">
                                    <button class="btn" type="submit"><i class="fa fa-trash mb-1 text-danger"></i></button>
                                </form>
                            </div>

                        </div>
                    }
                    </div>
                </div>
                
                <div class="col-lg-3 mb-3">

                    <div class="border p-4">
                        <h5 class="text-center">Tutar</h5>
                        <hr>
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="">Sepet : </h5>
                            <h5 class=""><span id="total-price-box" class="">@Model.TotalPrice() TL</span></h5>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="">Kargo : </h5>
                            <h5 class=""><span id="total-price-box" class="">Ücretsiz</span></h5>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="">Toplam : </h5>
                            <h5 class=""><span id="total-price-box" class="">@Model.TotalPrice() TL</span></h5>
                        </div>
                        <div class="mb-2">
                            <a href="/" class="btn btn-warning btn-sm w-100"><i class="fa-solid fa-basket-shopping"></i> Alışverişe devam et</a>
                        </div>
                        <div class="mb-3">
                            <a href="/odeme" class="btn btn-success btn-sm w-100"><i class="fa-regular fa-credit-card"></i> Ödemeye geç</a>
                        </div>
                        
                    </div>

                </div>

            </div>                 
        }            
    </div>
</div>

<script>

    function increaseQuantity(productId)
    {
        token = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("IncreaseCartItem","Cart")",
            dataType: "json",
            data: 
            {
                __RequestVerificationToken: token,
                productId : productId
            },
            success: function(result){
                $(`#quantityBox-${productId}`).text(result.quantity);
                $(`#priceBox-${productId}`).text(result.itemPrice*result.quantity + " TL");
                $("#total-price-box").text(result.cartTotalPrice + " TL");
                if($(`#btnDecrease-${productId}`).hasClass("disabled"))
                {
                    $(`#btnDecrease-${productId}`).removeClass("disabled")
                }
            },
            error: function(req,status,error){
                console.log(status);
            }
        })
    };

    function decreaseQuantity(productId)
    {
        token = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("DecreaseCartItem","Cart")",
            dataType: "json",
            data: 
            {
                __RequestVerificationToken: token,
                productId : productId
            },
            success: function(result){
                $(`#quantityBox-${productId}`).text(result.quantity);
                $(`#priceBox-${productId}`).text(result.itemPrice*result.quantity + " TL");
                $(`#total-price-box`).text(result.cartTotalPrice + " TL");
                if($(`#quantityBox-${productId}`).text() == 1)
                {                    
                    $(`#btnDecrease-${productId}`).addClass("disabled")
                }
            },
            error: function(req,status,error){
                console.log(status);
            }
        })
    };

</script>

