@model CartViewModel

@{
    ViewData["Title"] = "Sepetim";
}

@section Css 
{
    <link rel="stylesheet" href="~/css/summary.css">
}

@if(Model.TotalItem() == 0)
{
    <p>Sepet boş</p>
}
else
{
    <div class=" mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="p-2">
                    <h4>Sepetim</h4>
                    
                </div>
                @foreach(var item in @Model.CartItems)
                {
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">

                        <div class="mr-1"><img class="rounded" src="~/images/@item.ImageUrl" width="70"></div>

                        <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold product-name">@item.Name</span>               
                        </div>

                        <div class="d-flex flex-row align-items-center qty">
                            <button onclick="decreaseQuantity(@item.ProductId)" class="btn"><i class="fa fa-minus text-danger"></i></button>

                            <h5 id="@item.ProductId-quantityBox" class="text-grey mt-1 mr-1 ml-1">@item.Quantity</h5>

                            <button onclick="increaseQuantity(@item.ProductId)" class="btn"><i class="fa fa-plus text-success"></i></button>
                        </div>

                        <div class="d-flex align-items-center">
                            <h6 class="text-grey">@item.Price.ToString("c")/</h6>
                            <h5 id="@item.ProductId-priceBox" class="text-grey"> @(item.Price * item.Quantity)</h5>
                        </div>

                        <div class="d-flex align-items-center"><a href=""><i class="fa fa-trash mb-1 text-danger"></i></a></div>

                    </div>
                }
                
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><h3>@Model.TotalPrice()</h3><button class="btn btn-outline-warning btn-sm ml-2" type="button">Apply</button></div>
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Proceed to Pay</button></div>
            </div>
        </div>
    </div>
    
}

<script>

    function increaseQuantity(productId)
    {
        @* var quantityH5 = document.getElementById(`${productId}`) *@

        token = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("IncreaseCartItem","Cart")",
            dataType: "json",
            data: 
            {
                __RequestVerificationToken: token,
                productId : productId
            },
            success: function(result){
                console.log(result);
                $(`#${productId}-quantityBox`).text("plus-q");
                $(`#${productId}-priceBox`).text("plus-p");
            },
            error: function(req,status,error){
                console.log(status);
            }
        })
    };

    function decreaseQuantity(productId)
    {
        @* var quantityH5 = document.getElementById(`${productId}`) *@

        token = $('input[name=__RequestVerificationToken]').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("DecreaseCartItem","Cart")",
            dataType: "json",
            data: 
            {
                __RequestVerificationToken: token,
                productId : productId
            },
            success: function(result){
                console.log(result);
                $(`#${productId}-quantityBox`).text("minus-q");
                $(`#${productId}-priceBox`).text("minus-p");
            },
            error: function(req,status,error){
                console.log(status);
            }
        })
    };

</script>

