@model OrderListViewModel

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Admin/Sipariş listesi";
}


<div>

    <div class="my-4">
        <h1 class="h4">Admin Siparişler</h1>
        <hr>
    </div>

    <div class="row mb-3">

        <div class="col-sm-4 col-md-2 mb-2">
            <a type="button" href="/admin/siparislistesi" class="btn btn-primary w-100 @(ViewBag.SelectedOrderStates == null ? "active" : "")">Hepsi</a>
        </div>
            
            @foreach(var orderState in ViewBag.OrderStates)
            {
                <div class="col-sm-4 col-md-2 mb-2">
                    <a type="button" href="/admin/siparislistesi/@orderState.Url" class="btn btn-primary w-100 @(ViewBag.SelectedOrderStates == orderState.Url ? "active" : "")">@orderState.Name</a>
                </div>               
            }
        </div>

    @if(@Model.Orders!.Count == 0)
    {
        <div class="text-center">
            <h5 class=" py-3">Bu kategoride sipariş bulunmuyor</h5>                    
        </div>
    }
    else
    {
        <div class="table-responsive mb-2">
            @foreach(var order in @Model.Orders)
            {
                <table class="table table-borderless border">
                    <thead>
                        <tr>
                            <th >Durum</th>
                            <th >Tarih</th>
                            <th >Ödeme Türü</th>
                            <th >Adres</th>
                            <th >E-Posta</th>
                            <th >Tutar</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@order.OrderState</td>
                            <td>@order.OrderDate.ToString("MM/dd/yyyy")</td>
                            <td>@order.PaymentType</td>
                            <td>@order.Address</td>
                            <td>@order.Email</td>
                            <td>@order.TotalPrice().ToString("c") TL</td>
                            <td>
                                <form asp-controller="Admin" asp-action="UpdateOrder" class="d-flex">
                                    <input type="hidden" name="orderId" value="@order.Id">
                                    <select name="orderState" class="form-select" asp-items="@order.OrderStates">
                                        <option value="@order.OrderStateId">@order.OrderState</option>
                                    </select>
                                    <button class="btn" type="submit"><i class="fa-solid fa-pencil"></i></button>
                                </form>
                            </td>
                        </tr>                   
                    </tbody>
                    <tfoot>
                        @foreach(var orderItem in order!.OrderItems!)
                        {
                            <tr>
                                <td><img src="~/images/@orderItem.ImageUrl" alt="" width="50" height="50"></td>
                                <td>@orderItem.Name</td>
                                <td>@orderItem.Weight gr</td>
                                <td>@orderItem.Quantity x @orderItem.Price</td>
                                <td>@orderItem.TotalPrice().ToString("c")</td>
                                <td>
                                    <a href="/urun/@orderItem.Url" class="btn">Ürüne git <i class="fa-solid fa-arrow-right"></i></a>
                                </td>
                            </tr>
                        }   
                                  
                    </tfoot> 
                </table>
            }
        </div>
    }
</div>

@if(@Model!.PageInfo!.TotalPages() > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if(string.IsNullOrEmpty(Model!.PageInfo!.CurrentOrderState!))
            {
                <li class="page-item @(Model.PageInfo!.CurrentPage == 1 ? "disabled":"")">
                    <a class="page-link" href="/admin/siparislistesi?sayfa=@(Model.PageInfo!.CurrentPage-1)"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                @if(Model.PageInfo!.CurrentPage == @Model!.PageInfo!.TotalPages() && @Model!.PageInfo!.TotalPages() > 4)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li> 
                } 
            }
            else
            {
                <li class="page-item @(Model.PageInfo!.CurrentPage == 1 ? "disabled":"")">
                    <a class="page-link" href="/admin/siparislistesi/@Model.PageInfo!.CurrentOrderState?sayfa=@(Model.PageInfo!.CurrentPage-1)"><i class="fa-solid fa-angle-left"></i></a>
                </li>
                @if(Model.PageInfo!.CurrentPage == @Model!.PageInfo!.TotalPages() && @Model!.PageInfo!.TotalPages() > 4)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li> 
                } 
            }
            @for(var i=0; i< @Model!.PageInfo!.TotalPages(); i++)
            {
                if(string.IsNullOrEmpty(Model.PageInfo!.CurrentOrderState))
                {
                    @if(Model.PageInfo!.CurrentPage == i+1 || Model.PageInfo!.CurrentPage == i || Model.PageInfo!.CurrentPage == i+2)
                    {
                        <li class="page-item @(Model.PageInfo!.CurrentPage == i+1 ? "active":"")">
                            <a class="page-link" href="/admin/siparislistesi?sayfa=@(i+1)">@(i+1)</a>
                        </li>
                    }
                }
                else
                {
                    @if(Model.PageInfo!.CurrentPage == i+1 || Model.PageInfo!.CurrentPage == i || Model.PageInfo!.CurrentPage == i+2)
                    {
                        <li class="page-item @(Model.PageInfo!.CurrentPage == i+1 ? "active":"")">
                            <a class="page-link" href="/admin/siparislistesi/@Model.PageInfo!.CurrentOrderState?sayfa=@(i+1)">@(i+1)</a>
                        </li>
                    }
                }
            }
            @if(string.IsNullOrEmpty(Model.PageInfo!.CurrentOrderState))
            {
                @if(Model.PageInfo!.CurrentPage != Model!.PageInfo!.TotalPages() && Model.PageInfo!.CurrentPage != Model!.PageInfo!.TotalPages() -1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" >...</a>
                    </li> 
                }
                <li class="page-item @(Model.PageInfo!.CurrentPage == @Model!.PageInfo!.TotalPages() ? "disabled":"")">
                    <a class="page-link" href="/admin/siparislistesi?sayfa=@(Model.PageInfo!.CurrentPage+1)"><i class="fa-solid fa-angle-right"></i></a>
                </li>
                <li class="page-item @(Model.PageInfo!.CurrentPage == @Model!.PageInfo!.TotalPages() ? "disabled":"")">
                    <a class="page-link" href="/admin/siparislistesi?sayfa=@Model!.PageInfo!.TotalPages()">/ @Model!.PageInfo!.TotalPages()</a>
                </li> 
                }
            else
            {
                @if(Model.PageInfo!.CurrentPage != Model!.PageInfo!.TotalPages() && Model.PageInfo!.CurrentPage != Model!.PageInfo!.TotalPages() -1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" >...</a>
                    </li> 
                }
                <li class="page-item @(Model.PageInfo!.CurrentPage == @Model!.PageInfo!.TotalPages() ? "disabled":"")">
                    <a class="page-link" href="/admin/siparislistesi/@Model.PageInfo!.CurrentOrderState?sayfa=@(Model.PageInfo!.CurrentPage+1)"><i class="fa-solid fa-angle-right"></i></a>
                </li>
                <li class="page-item @(Model.PageInfo!.CurrentPage == @Model!.PageInfo!.TotalPages() ? "disabled":"")">
                    <a class="page-link" href="/admin/siparislistesi/@Model.PageInfo!.CurrentOrderState?sayfa=@Model!.PageInfo!.TotalPages()">/ @Model!.PageInfo!.TotalPages()</a>
                </li> 
            }    
        </ul>
    </nav>
}