@model ProductDetailsModel

@{
    ViewData["Title"] = "Ürün Detayı";
}

@section Css 
{
    <link rel="stylesheet" href="~/css/product-details.css">
}

<div class="mb-3">
    <h1 class="h3">Ürün Detayı</h1>
</div>

<div class="">
    <div class="row">
        <div class="col-md-6 details-section mb-3">
            <div class="product-img">
                <img src="~/images/@Model!.Product!.ImageUrl" alt="urun-resmi">
            </div>
        </div>
        <div class="col-md-6 details-section d-flex flex-column mb-3">
            <h3 class="mb-3">@Model.Product.Name</h3>
            <h5 class="mb-5">@Model.Product.Price.ToString("c") TL</h5>
            <div class="mb-5">
                @foreach(var category in @Model.Categories!)
                {
                    <a class="btn btn-info me-1" href="/urunler/@category.Url"><i class="fa-solid fa-layer-group"></i> @category.Name</a>
            
                }
            </div>           
            <form asp-controller="Cart" asp-action="AddToCart" class="d-flex mt-auto details-form">
                <input type="hidden" name="productId" value="@Model.Product.Id">
                <div class="me-1">
                    <input type="number" class="form-control details-input" name="quantity" value="1" min="1" step="1">
                </div>
                <div class="">
                    <button id="btn-submit" type="submit" class="btn btn-primary mb-3"><i class="fas fa-cart-plus"></i> Sepete Ekle</button>
                </div>
            </form>
           
        </div>
        <div>
            <p>@Model.Product.Description</p>

        </div>
    </div>
</div>

