@model ProductViewModel

<div class="h-100">
    <div class="card h-100 w-100">
        <div class="img-container">
            <img src="~/images/@Model.ImageUrl" class="card-img-top" alt="@Model.Name-image">
        </div>
        <div class="card-body">
            <h5 class="card-title card-name">@Model.Name</h5>
            <p class="card-text card-description">@Html.Raw(@Model.Description)</p>
            <div>
                <h5 class="card-text">@Model.Price.ToString("c")</h5>                
            </div>
        </div>
        <div class="">
            <div  class="form-inline">
                <input type="hidden" name="productId" value="@Model.Id">
                <input type="hidden" name="quantity" value="1" >

                <button onclick="addToCart(@Model.Id)" class="btn w-100 btn-primary btn-sm mb-1">
                    <i class="fas fa-cart-plus"></i> Sepete Ekle
                </button>                 
            </div>
            <a href="/urun/@Model.Url" class="btn btn-primary btn-sm w-100">
                <i class="fa-solid fa-magnifying-glass"></i> İncele
            </a>
        </div>
    </div>
</div>


<script>
 
        function addToCart(productId)  
        {
            token = $('input[name=__RequestVerificationToken]').val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("AddToCart","Cart")",
                dataType: "json",
                data: 
                {
                    __RequestVerificationToken: token,
                    productId : productId,
                    quantity : 1

                },
                success: function(result){
                    console.log(result);
                    $("#cart-unit").text(`(${result.cartUnit})`);
                    $("#cart-message-container").remove();
                    $("#main").append
                    (
                        `
                            <div id="cart-message-container" class="alert alert-success alert-dismissible fade show container text-center" role="alert">
                                <h5 class="alert-heading">
                                    Sepete eklendi <i class="fa-solid fa-check"></i>
                                </h5>
                                <h4>${result.productName}</h4>
                                <h5>${result.productWeight}gr (${result.productQuantity} adet)</h5>
                                
                                <h6>Toplam <i class="fa-solid fa-cart-shopping"></i> (${result.cartUnit}) çeşit ürün eklendi</h6>
                                <p></p>
                                <div>
                                    <button class="btn btn-success" data-bs-dismiss="alert" aria-label="Close" href="" class="btn btn-success">Alışverişe devam et</button>
                                    <a href="" class="btn btn-success">Sepete git</a>

                                </div>
                                <button id="btn_clos" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        `
                    );
                },
                error: function(req,status,error){
                    console.log(status);
                }
            })
        };

</script>