@model ProductViewModel

<div class="h-100">
    <div class="card h-100 w-100">
        <div class="img-container">
            <img src="~/images/@Model.ImageUrl" class="card-img-top" alt="@Model.Name-image">
        </div>
        <div class="card-body">
            <h5 class="card-title card-name">@Model.Name</h5>
            <p class="card-text card-description">@Html.Raw(@Model.Description)</p>
            <div>


                    <h5 class="card-text">@Model.Price.ToString("c")</h5>
                
            </div>
        </div>
        <div class="">
            <form asp-controller="Cart" asp-action="AddToCart" class="form-inline">
                <input type="hidden" name="productId" value="@Model.Id">
                <input type="hidden" name="quantity" value="1" >

                <button type="submit" class="btn w-100 btn-primary btn-sm mb-1">
                    <i class="fas fa-cart-plus"></i> Sepete Ekle
                </button>                 
            </form>
            <a href="/urun/@Model.Url" class="btn btn-primary btn-sm w-100">
                <i class="fa-solid fa-magnifying-glass"></i> İncele
            </a>
        </div>
    </div>
</div>


<script>

</script>